<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10"
  IgnorableNamespaces="uap uap3 desktop desktop4 desktop5 com rescap systemai">

  <Identity
    Name="2d40a5e2-fc23-4e7c-8964-6b3c400c56c1"
    Publisher="CN=31059"
    Version="1.1.1.0" />

  <mp:PhoneIdentity PhoneProductId="2d40a5e2-fc23-4e7c-8964-6b3c400c56c1" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>OmniConvert</DisplayName>
    <PublisherDisplayName>31059</PublisherDisplayName>
    <Logo>Assets\Tiles\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="OmniConvert"
        Description="OmniConvert"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Tiles\MedTile.png"
        Square44x44Logo="Assets\Tiles\AppList.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Tiles\WideTile.png"  Square71x71Logo="Assets\Tiles\SmallTile.png" Square310x310Logo="Assets\Tiles\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Tiles\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <!-- 执行别名：打包后 %LOCALAPPDATA%\Microsoft\WindowsApps\OmniConvert.exe
             可被注册表 command 直接调用并传递命令行参数（二级菜单打包场景）。 -->
        <uap3:Extension Category="windows.appExecutionAlias" Executable="OmniConvert.exe" EntryPoint="Windows.FullTrustApplication">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="OmniConvert.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>

        <!-- Win11 右键菜单：注册软件支持的输入格式（doc/docx/pdf）。
             manifest 的 verb 会同时出现在一级菜单与二级菜单（经典菜单），
             两级行为一致，无需额外注册表方案。 -->
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type=".doc">
              <desktop5:Verb Id="ImportToOmniConvert" Clsid="218a51b4-cea7-4b37-8e74-fc5e56ae12d2" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".docx">
              <desktop5:Verb Id="ImportToOmniConvert" Clsid="218a51b4-cea7-4b37-8e74-fc5e56ae12d2" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".pdf">
              <desktop5:Verb Id="ImportToOmniConvert" Clsid="218a51b4-cea7-4b37-8e74-fc5e56ae12d2" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>

        <!-- IExplorerCommand 进程外 COM 服务器（以 -contextmenu 参数启动）。 -->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="OmniConvert.exe" Arguments="-contextmenu" DisplayName="OmniConvert Context Menu">
              <com:Class Id="218a51b4-cea7-4b37-8e74-fc5e56ae12d2" DisplayName="OmniConvert Context Menu" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <systemai:Capability Name="systemAIModels"/>
  </Capabilities>
</Package>
